body {
  text-align: center;
  font-size: 175%;
  font-family: Arial, Helvetica, sans-serif;
  color: aqua;
  background-color: crimson;
  display: block;
}

br {
  display: block;
}

#dev {
  font-size: 100%;
}

#cImg {
  display: block;
  align-self: center;
}