body {
  font-size: 175%;
  font-family: Arial, Helvetica, sans-serif;
  color: aqua;
  background-color: crimson;
  text-align: center;
}



br {
  display: block;
}

#dev {
  font-size: 100%;
}

#cImg {
  margin-left: auto;
  margin-right: auto;
}

.thumbnail:hover {
  position:relative;
  width:185px;
  height:185px;
  display:block;
  z-index:999;
}

